<!-- 
<div>
<form [formGroup]="login" (ngSubmit)="logintest()">
    <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput formControlName="user_name" type="text" readonly>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Customer Name</mat-label>
        <input matInput formControlName="reason" type="text">
    </mat-form-field>

   
    <mat-form-field>
        <mat-label>Job Name</mat-label>
        <input matInput formControlName="reason" type="text">
    </mat-form-field>

    <button mat-raise-button [disabled]="login.invalid">Save</button>
    <button mat-raise-button (click)="onNoClick()">Close</button>

</form>

</div> -->

ghjmbiuhnkj