
<div>
<form [formGroup]="login" >
    <!-- <p>Id</p>

    <mat-form-field>
        <input matInput formControlName="id" type="text" readonly>
    </mat-form-field> -->

    <mat-form-field>
        <mat-label>Customer Name</mat-label>
        <input matInput formControlName="customer_name" type="text">
    </mat-form-field>

   
    <mat-form-field>
        <mat-label>Job Name</mat-label>
        <input matInput formControlName="job_name" type="text">
    </mat-form-field>

    <button mat-raise-button (click)="logintest()">Save</button>
    <button mat-raise-button (click)="onNoClick()">Close</button>

</form>

</div>

