<section class="login_page">
    <div class="login_sec">
      <mat-card class="form_inner">
        <mat-card-content>
        
          <p class="mb_space"> Wifi Configuration</p>
          <form [formGroup]="login"  (ngSubmit)="logintest()" autocomplete="off" class="login_form">
            <mat-form-field class="form">
              <mat-label>Network Name</mat-label>
              <input matInput formControlName="user_name" type="text" required>
            </mat-form-field>
       
            <mat-form-field class="form">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" placeholder="Password" [type]=" hide ? 'password' : 'text'"
                required>
              <mat-icon class="eye" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
  
            </mat-form-field>
       
            <div class="form-btn">
              <button mat-raised-button class="Submit" color="primary"  [disabled]="login.invalid">Connect</button>
            </div>
          </form>

          <div class="form-btn">
            <button mat-raised-button class="Submit" color="primary" (click)="wifi()">Scan</button>
  </div>
  <h3>Wifi Name List:{{scanning}}</h3>
         
 
<!-- <h2>{{retryMessage}}</h2>  -->

</mat-card-content>
<!-- 
<button mat-button (click)="openDialogWithRef(gokul_test)">Open dialog with reference</button>

<ng-template  #gokul_test>
  <h2 matDialogTitle>Hello, world!</h2>
  <p matDialogContent><em>Content for this dialog goes here...</em></p>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Dismiss</button>
  </mat-dialog-actions>
</ng-template> -->


      </mat-card>

      

    </div>

    <mat-card class="card2"  *ngIf="gokul_test == true" >

      <div >
               
        <h2>Wait untill system reboot</h2>
        <div ><h2>
         {{retryMessage}}sec</h2>
        </div>
      </div>
      
      </mat-card>

    
     
  </section>
  
  